[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/pebble"]
	path = content/themes/pebble
	url = git@github.com:Granitech/Pebble.git
[submodule "content/plugins/ninja-forms"]
	path = content/plugins/ninja-forms
	url = git@github.com:wp-plugins/ninja-forms.git
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = git@github.com:wp-plugins/wordpress-seo.git
[submodule "content/plugins/ga-for-wp"]
	path = content/plugins/ga-for-wp
	url = git@github.com:wp-plugins/google-analytics-for-wordpress.git
[submodule "content/plugins/gravityforms"]
	path = content/plugins/gravityforms
	url = git@github.com:gravityforms/gravityforms.git
[submodule "content/plugins/gf-mailchimp"]
	path = content/plugins/gf-mailchimp
	url = git@github.com:gravityforms/gravityformsmailchimp.git
[submodule "content/plugins/the-events-calendar"]
	path = content/plugins/the-events-calendar
	url = git@github.com:moderntribe/the-events-calendar.git
[submodule "content/plugins/gravity-forms-stripe"]
	path = content/plugins/gravity-forms-stripe
	url = https://github.com/naomicbush/gravity-forms-stripe
[submodule "content/plugins/wp-front-end-editor"]
	path = content/plugins/wp-front-end-editor
	url = git@github.com:avryl/wp-front-end-editor.git
